In [2]:
import pandas as pd

In [151]:
#read CSV
reg_2016 = pd.read_csv ('data/2016 Vehicle Registration.csv',header=[1])
reg_2017 = pd.read_csv ('data/2017 Vehicle Registration.csv',header=[1]) #header = [1] to skip the first row
reg_2018 = pd.read_csv ('data/2018 Vehicle Registration.csv',header=[1])
reg_2019 = pd.read_csv ('data/2019 Vehicle Registration.csv',header=[1])
reg_2020 = pd.read_csv ('data/2020 Vehicle Registration.csv',header=[1])
reg_2021 = pd.read_csv ('data/2021 Vehicle Registration.csv',header=[1])
ev_model = pd.read_csv ('data/US EV model offered by year.csv')

In [152]:
#remove comma to convert string to int
reg_2016.replace(',','', regex=True, inplace=True)
reg_2017.replace(',','', regex=True, inplace=True)
reg_2018.replace(',','', regex=True, inplace=True)
reg_2019.replace(',','', regex=True, inplace=True)
reg_2020.replace(',','', regex=True, inplace=True)
reg_2021.replace(',','', regex=True, inplace=True)

In [154]:
#clean 2016 vehicle registration and create a 2016 vehicle dataframe
reg_2016['Electric (EV)'] = reg_2016['Electric (EV)'].astype(int)
reg_2016_final = reg_2016.set_index('State') #turn State to index
cars_2016 = reg_2016_final.loc['Texas',:] #choose only Texas
cars_2016df = cars_2016.to_frame() #convert series to dataframe
cars_2016_rename =cars_2016df.rename(columns={"Texas":'2016'}).reset_index(level=0) #rename Texas to Year to merge later and reset index for merge

In [155]:
#clean 2017 vehicle registration and create a 2017 vehicle dataframe
reg_2017['Electric (EV)'] = reg_2017['Electric (EV)'].astype(int)
reg_2017_final = reg_2017.set_index('State') #turn State to index
cars_2017 = reg_2017_final.loc['Texas',:] #choose only Texas
cars_2017df = cars_2017.to_frame() #convert series to dataframe
cars_2017_rename =cars_2017df.rename(columns={"Texas":'2017'}).reset_index(level=0) #rename Texas to Year to merge later and reset index for merge

In [101]:
#clean 2018 vehicle registration and create a 2018 vehicle dataframe
reg_2018['Electric (EV)'] = reg_2018['Electric (EV)'].astype(int)
reg_2018_final = reg_2018.set_index('State') #turn State to index
cars_2018 = reg_2018_final.loc['Texas',:] #choose only Texas
cars_2018df = cars_2018.to_frame() #convert series to dataframe
cars_2018_rename =cars_2018df.rename(columns={"Texas":'2018'}).reset_index(level=0) #rename Texas to Year to merge later and reset index for merge

In [100]:
#clean 2019 vehicle registration and create a 2019 vehicle dataframe
reg_2019['Electric (EV)'] = reg_2019['Electric (EV)'].astype(int)
reg_2019_final = reg_2019.set_index('State') #turn State to index
cars_2019 = reg_2019_final.loc['Texas',:] #choose only Texas
cars_2019df = cars_2019.to_frame() #convert series to dataframe
cars_2019_rename = cars_2019df.rename(columns={"Texas":'2019'}).reset_index(level=0) #rename Texas to Year to merge later and reset index for merge #rename Texas to Year to merge later

In [94]:
#clean 2020 vehicle registration and create a 2020 vehicle dataframe
reg_2020['Electric (EV)'] = reg_2020['Electric (EV)'].astype(int)
reg_2020_final = reg_2020.set_index('State') #turn State to index
cars_2020 = reg_2020_final.loc['Texas',:] #choose only Texas
cars_2020df = cars_2020.to_frame() #convert series to dataframe
cars_2020_rename = cars_2020df.rename(columns={"Texas":'2020'}).reset_index(level=0) #rename Texas to Year to merge later and reset index for merge #rename Texas to Year to merge later

In [110]:
#clean 2021 vehicle registration and create a 2021 vehicle dataframe
reg_2021['Electric (EV)'] = reg_2021['Electric (EV)'].astype(int)
reg_2021_final = reg_2021.set_index('State') #turn State to index
cars_2021 = reg_2021_final.loc['Texas',:] #choose only Texas
cars_2021df = cars_2021.to_frame() #convert series to dataframe
cars_2021_rename = cars_2021df.rename(columns={"Texas":'2021'}).reset_index(level=0) #rename Texas to Year to merge later and reset index for merge #rename Texas to Year to merge later

In [160]:
cars_reg_2016_2017 = pd.merge(cars_2016_rename,cars_2017_rename) #merge dataframe
cars_reg_2018_2019 = pd.merge(cars_2018_rename,cars_2019_rename)
cars_reg_2020_2021 = pd.merge(cars_2020_rename,cars_2021_rename)
cars_reg_by_year = pd.merge(cars_reg_2018_2019,cars_reg_2020_2021)
cars_reg_by_year = pd.merge(cars_reg_by_year,cars_reg_2016_2017)
cars_reg_by_year = cars_reg_by_year.rename(columns={'index':'Type'})
cars_reg_by_year = cars_reg_by_year[['Type','2016','2017','2018','2019','2020','2021']] #reorganize columns
cars_reg_by_year
#use for first visualization

,Type,2016,2017,2018,2019,2020,2021
0,Electric (EV),11900,16100,24500,38400,52200,80900
1,Plug-In Hybrid Electric (PHEV),8000,10900,14700,18100,20400,30600
2,Hybrid Electric (HEV),205800,217100,227700,244600,262300,304700
3,Biodiesel,0,0,0,0,0,376300
4,Ethanol/Flex (E85),2596600,2813400,3005900,3200700,3250000,2422300
5,Compressed Natural Gas (CNG),64700,56900,51300,47300,43600,2200
6,Propane,0,0,0,0,0,1600
7,Hydrogen,0,0,0,100,100,0
8,Methanol,0,0,0,0,0,0
9,Gasoline,18245400,18252800,18453800,19293900,19609700,20599100
10,Diesel,961200,982900,1019300,1070200,1107000,765100

In [161]:
ev_model = ev_model.fillna(0) #fill N/A with value 0 
ev_model_by_year = ev_model[['Manufacturer','2016','2017','2018','2019','2020','2021']].set_index('Manufacturer') #only choose the year that we are intrested in 
ev_model_offered_by_year =ev_model_by_year.loc['Total',:].reset_index(level=0).rename(columns={'index':'Year'})
ev_model_offered_by_year=ev_model_offered_by_year.transpose()

header =ev_model_offered_by_year.iloc[0] #Get the first row for the header
ev_model_offered_by_year = ev_model_offered_by_year[1:] #Take the data less the header row
ev_model_offered_by_year.columns= header
ev_model_offered_by_year #Set the header row as the df header

#use for second visualization

Year  2016   2017   2018   2019   2020   2021
Total  155  183.0  203.0  220.0  227.0  261.0